<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <app-admin-panel-menu></app-admin-panel-menu>
    </div>
    <div class="col-lg-8">

      <form (ngSubmit)="onSubmit()" #orderForm="ngForm" *ngIf="order">
        <div class="form-group row">
          <div class="col-lg-8">
            <p>{{orderValue | currency:'PLN':'symbol'}}</p>
          </div>
        </div>

        <div class="form-group row">
          <label for="nameInput" class="col-lg-4">Imię:</label>
          <div class="col-lg-8">
            <input type="text" class="form-control" id="nameInput" placeholder="Wprowadź swoje imię" required
                   name="name" [(ngModel)]="order.name" #name="ngModel"
                   [ngClass]="{
                                'is-invalid': !name.valid && !name.pristine,
                                'is-valid': name.valid && !name.pristine
                                }">
            <div class="invalid-feedback">
              Imię jest wymagane!
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label for="surnameInput" class="col-lg-4">Nazwisko:</label>
          <div class="col-lg-8">
            <input type="text" class="form-control" id="surnameInput" placeholder="Wprowadź swoje nazwisko" required
                   name="surname" [(ngModel)]="order.surname" #surname="ngModel"
                   [ngClass]="{
                                'is-invalid': !surname.valid && !surname.pristine,
                                'is-valid': surname.valid && !surname.pristine
                                }">
            <div class="invalid-feedback">
              Nazwisko jest wymagane!
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label for="cityInput" class="col-lg-4">Miasto:</label>
          <div class="col-lg-8">
            <input type="text" class="form-control" id="cityInput" placeholder="Wprowadź swoje miasto" required
                   name="city" [(ngModel)]="order.city" #city="ngModel"
                   [ngClass]="{
                                'is-invalid': !city.valid && !city.pristine,
                                'is-valid': city.valid && !city.pristine
                                }">
            <div class="invalid-feedback">
              Miasto jest wymagane!
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label for="adressInput" class="col-lg-4">Adres:</label>
          <div class="col-lg-8">
            <input type="text" class="form-control" id="adressInput" placeholder="Wprowadź swój adres" required
                   name="addr" [(ngModel)]="order.address" #addr="ngModel"
                   [ngClass]="{
                                'is-invalid': !addr.valid && !addr.pristine,
                                'is-valid': addr.valid && !addr.pristine
                                }">
            <div class="invalid-feedback">
              Adres jest wymagany!
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label for="commentInput" class="col-lg-4">Komentarz do zamówienia:</label>
          <div class="col-lg-8">
                <textarea class="form-control" id="commentInput" rows="3"
                          name="address" [(ngModel)]="order.comment" #address="ngModel">
                </textarea>
          </div>
        </div>

        <div class="form-group row">
          <label for="deliverySelect" class="col-lg-4">Sposób dostawy:</label>
          <div class="col-lg-8">
            <select class="form-control" id="deliverySelect"
                    name="delivery" [(ngModel)]="order.delivery" #delivery="ngModel">
              <option>Poczta Polska</option>
              <option>Kurier DHL</option>
              <option>Inpost</option>
            </select>
            <div class="invalid-feedback">
              Spsób dostawy jest wymagany!
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label for="paymentSelect" class="col-lg-4">Sposób płatności:</label>
          <div class="col-lg-8">
            <select class="form-control" id="paymentSelect"
                    name="payment" [(ngModel)]="order.payment" #payment="ngModel">
              <option>Płatność przy odbiorze</option>
              <option>Przelew</option>
            </select>
            <div class="invalid-feedback">
              Spsób płatności jest wymagany!
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label for="statusSelect" class="col-lg-4">Status zamówienia:</label>
          <div class="col-lg-8">
            <select class="form-control" id="statusSelect"
                    name="status" [(ngModel)]="order.status" #status="ngModel">
              <option>Nowe</option>
              <option>Zrealizowane</option>
            </select>
            <div class="invalid-feedback">
              Spsób płatności jest wymagany!
            </div>
          </div>
        </div>

        <div style="text-align: right">
          <button type="submit" class="btn btn-success" [disabled]="!orderForm.form.valid">
            <span class="oi oi-check"></span>Zapisz zamówienie
          </button>
        </div>

      </form>

    </div>
  </div>
</div>
