<div class="container">
  <div class="row">
    <div class="col-lg-3">
      <app-categories-menu></app-categories-menu>
    </div>
    <div class="col-lg-9">
      <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb bg-dark text-white">
          <li class="breadcrumb-item active text-white" aria-current="page"><span class="oi oi-spreadsheet"></span>&nbsp;{{categoryName}}</li>
        </ol>
      </nav>

     <app-products-list [products]="products"></app-products-list>

    </div>
  </div>
</div>
