<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <app-search-menu [productName]="productName" [minimumPrice]="minimumPrice" [maximumPrice]="maximumPrice"
                       [selected]="selectedCategories" [discounted]="discounted" (onSearch)="handleSearchQuery($event)">
      </app-search-menu>
    </div>
    <div class="col-lg-8">
      <div class="card rounded-0 border-0">
        <div class="card-header rounded-0 bg-dark text-white">
          Produkty({{products.length}})
        </div>
      </div>


      {{selectedCategories.length}}
      {{productName}}
      {{minimumPrice}}
      {{maximumPrice}}
      {{discounted}}

      <app-products-list [products]="products"></app-products-list>
    </div>
  </div>
</div>
