<div class="container">
  <div class="card">
    <div class="card-header">
      Shopping Cart
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-lg-3">
          <img class="img-responsive" src="http://placehold.it/200x100">
        </div>
        <div class="col-lg-4">
          <h4 class="product-name"><strong>Product name</strong></h4><h4><small>Product description</small></h4>
        </div>
        <div class="col-lg-2">
            <button type="button" class="btn btn-success">
              <span class="oi oi-plus"></span>
            </button>
            <button type="button" class="btn btn-warning">
              <span class="oi oi-minus"></span>
            </button>
        </div>
        <div class="col-lg-1">
          <h4><strong>1</strong></h4>
        </div>
        <div class="col-lg-1">
          <h4><strong>25$</strong></h4>
        </div>
        <div class="col-lg-1">
          <button type="button" class="btn btn-danger">
            <span class="oi oi-trash"></span>
          </button>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <div class="row">
        <div class="col-6">
          <button type="button" class="btn btn-info">
            <span class="oi oi-arrow-circle-left"></span>&nbsp;Continue shopping
          </button>
          <button type="button" class="btn btn-danger">
            <span class="oi oi-x"></span>&nbsp;Clear cart
          </button>
          <button type="button" class="btn btn-success">
            <span class="oi oi-credit-card"></span>&nbsp;Checkout
          </button>
        </div>
        <div class="col-6">
          <h4 class="text-right">Total: <strong>$50.00</strong></h4>
        </div>
      </div>
    </div>
  </div>
</div>
