<div class="container">
  <div class="card">
    <div class="card-header">
      Shopping Cart
    </div>
    <div class="card-body">
      <div class="row" *ngFor="let product of products" style="margin-bottom: 10px">
        <div class="col-lg-8">
            {{product.name}}
        </div>
        <div class="col-lg-4" style="text-align: center">
          {{product.price | currency:'PLN':'symbol'}}
        </div>
        <!--<div class="col-lg-2" style="text-align: right">-->
          <!--&lt;!&ndash;TODO buttons&ndash;&gt;-->
          <!--&lt;!&ndash;<button type="button" class="btn btn-success btn-sm">&ndash;&gt;-->
            <!--&lt;!&ndash;<span class="oi oi-plus"></span>&ndash;&gt;-->
          <!--&lt;!&ndash;</button>&ndash;&gt;-->
          <!--&lt;!&ndash;<button type="button" class="btn btn-warning btn-sm">&ndash;&gt;-->
            <!--&lt;!&ndash;<span class="oi oi-minus"></span>&ndash;&gt;-->
          <!--&lt;!&ndash;</button>&ndash;&gt;-->
          <!--<button type="button" class="btn btn-danger btn-sm">-->
            <!--<span class="oi oi-trash"></span>-->
          <!--</button>-->
        <!--</div>-->
      </div>
    </div>
    <div class="card-footer">
      <div class="row">
        <div class="col-6">
          <button type="button" class="btn btn-info" (click)="onGoBackToShopButtonCLicked()">
            <span class="oi oi-arrow-circle-left"></span>&nbsp;Wróć do sklepu
          </button>
          <button type="button" class="btn btn-danger"
                  *ngIf="this.products.length > 0"
                  (click)="onClearCartButtonClicked()">
            <span class="oi oi-x"></span>&nbsp;Wyczyść koszyk
          </button>
        </div>
        <div class="col-6" style="text-align: right">
          <button type="button" class="btn btn-success"
                  *ngIf="this.products.length > 0"
                  (click)="onCheckoutButtonClicked()">
            <span class="oi oi-credit-card"></span>&nbsp;Zapłać
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
