<div class="container">
  <div class="row">
    <div class="col-lg-9">
      <app-order-wizzard></app-order-wizzard>
    </div>
    <div class="col-lg-3">

      <div class="card rounded-0">
        <div class="card-header bg-dark text-white">
          Podsumowanie zamówienia
        </div>
        <div class="card-body">
          <table class="table">
            <tbody>
            <tr>
              <td>Cena:</td>
              <td></td>
            </tr>
            <tr>
              <td>Dostawa:</td>
              <td></td>
            </tr>
            <tr>
              <td>Do zapłaty:</td>
              <td></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>


    </div>
  </div>
</div>
