<!--<div class="row">-->
  <!--<div class="col-lg-4 col-md-6 mb-4" *ngFor="let item of this.items">-->
    <!--<div class="card h-100">-->
      <!--<a href="#"><img class="card-img-top" src="https://www.intersport.pl/media/catalog/product/cache/1/image/500x/0dc2d03fe217f8c83829496872af24a0/1/7/17-JESIEN-ADIDAS-CG3766_1445031455kw.jpg" alt=""></a>-->
      <!--<div class="card-body">-->
        <!--<h4 class="card-title">-->
          <!--<a routerLink="/product">{{item.name}}</a>-->
        <!--</h4>-->
        <!--<h5>$24.99</h5>-->
        <!--<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>-->
      <!--</div>-->
      <!--<div class="card-footer">-->
        <!--<small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
