<div class="card">
  <h4 class="card-header bg-dark text-white text-center">Logowanie</h4>
  <div class="card-body">
    <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
      <div class="form-group">
        <label for="userNameInput">Nazwa użytkownika:</label>
        <input type="text" class="form-control" id="userNameInput" name="username"
               placeholder="Wprowadź nazwę użytkownika" [(ngModel)]="userName" #username="ngModel"
               required pattern="^[a-zA-Z0-9]+$">
      </div>
      <div class="form-group">
        <label for="userPasswordInput">Hasło:</label>
        <input type="password" class="form-control" id="userPasswordInput" name="userpassword"
               placeholder="Wprowadź hasło" [(ngModel)]="userPassword" #userpassword="ngModel"
               required minlength="8" pattern="^[a-zA-Z0-9]+$">
      </div>
      <div style="width: 100%; text-align: center">
        <button type="submit" class="btn btn-success" [disabled]="!loginForm.form.valid">Zaloguj</button>
      </div>
    </form>
  </div>
</div>
