<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <app-admin-panel-menu></app-admin-panel-menu>
    </div>
    <div class="col-lg-8">
      <div class="jumbotron">
        <h1 class="display-3">Witaj w panelu administracyjnym!</h1>
        <p class="lead">
          Panel administraycjny pozwala zarządzać Ci sklepem.
        </p>
        <hr class="my-4">
        Za pomocą panelu możesz:
        <ul>
          <li>zarządzać produktami w sklepie,</li>
          <li>dodawać nowe produkty do katalogu,</li>
          <li>przeglądać zamówienia,</li>
          <li>dodawać specjalne oferty.</li>
        </ul>
      </div>
    </div>
  </div>
</div>
