<div>
  <div class="card border-dark" style="border-radius: 0px!important;">
    <div class="card-header bg-dark text-white" style="border-radius: 0px!important;">
      <span class="oi oi-menu"></span>&nbsp;Kategorie:
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item" *ngFor="let category of this.categories"
          routerLinkActive="bg-success" [routerLinkActiveOptions]="{exact: true}"  style="border-radius: 0px!important;">
        <a  routerLink='/category/{{category.link}}' routerLinkActive="text-white ">
          {{category.name}}
        </a>
      </li>
    </ul>
  </div>
</div>
