<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <app-admin-panel-menu></app-admin-panel-menu>
    </div>
    <div class="col-lg-8">
      {{orderStatus}}
      <div class="form-group row">
        <label for="statusSelect" class="col-lg-4">Status zamówienia:</label>
        <div class="col-lg-8">
          <select class="form-control" id="statusSelect" name="status" [(ngModel)]="orderStatus">
            <option>Nowe</option>
            <option>Zrealizowane</option>
          </select>
          <div class="invalid-feedback">
            Spsób płatności jest wymagany!
          </div>
        </div>
      </div>

      <table class="table table-striped">
        <thead class="bg-dark text-white">
        <tr>
          <th scope="col">Imie</th>
          <th scope="col">Nazwisko</th>
          <th scope="col">Miasto</th>
          <th scope="col">Adres</th>
          <th scope="col">Status</th>
          <th scope="col">Akcja</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let order of orders | myfilter:orderStatus">
          <td>{{order.name}}</td>
          <td>{{order.surname}}</td>
          <td>{{order.city}}</td>
          <td>{{order.address}}</td>
          <td>{{order.status}}</td>
          <td>
            <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-info" (click)="editOrder(order)">
                <span class="oi oi-wrench"></span>&nbsp;Szczegóły
              </button>
              <button type="button" class="btn btn-danger" (click)="deleteOrder(order)">
                <span class="oi oi-trash"></span>&nbsp;Usuń
              </button>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
